.drawer_component {
  display: none;
}

@media only screen and (max-width: 820px) {
  .drawer_component {
    display: block;
    margin-left: 1rem;
  }

  .drawer_container {
    width: 40vw;

    .user-menu_container {
      margin: 1rem 1rem 0;
    }

    .btns_drawer {
      padding: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: column;
      grid-gap: 0.5rem;
    }
  }
}
@media only screen and (max-width: 530px) {
  .drawer_container {
    width: 60vw;
  }
}
