.header_component {
  padding: 1rem 2rem;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_header {
      display: flex;
      align-items: center;

      :first-child {
        margin-right: 1rem;
      }
    }

    .link_home {
      color: black;
      text-decoration: none;
    }

    .btns_container {
      display: flex;
      grid-gap: 1rem;
    }
  }
}
