.detail_container {
  .article_book {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;

    .img_detail {
      width: 100%;
    }

    .downloaded_link {
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 660px) {
    .article_book {
      grid-template-columns: 1fr;
      grid-template-rows: 45vh 1fr;

      .img_detail {
        max-width: 80%;
        width: auto;
        height: 100%;
        justify-self: center;
      }
    }
  }
}
